.gradle
build/
app/build
app/jdks
app/objectbox-jni-windows-x64.dll
app/libobjectbox-jni-linux-x64.so
common/build
bootstrap/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
assets/
update_log.txt
debug/
local_files/
.kotlin/errors/
objectbox-jni-windows-x64.dll
libobjectbox-jni-linux-x64.so
### No one should have this kind of power anymore ###
/app/src/main/kotlin/nobility/downloader/core/scraper/DatabaseScraper.kt
/app/src/main/kotlin/nobility/downloader/core/scraper/MovieUpdater.kt
/app/src/main/kotlin/nobility/downloader/core/scraper/MovieScraper.kt
/app/src/main/kotlin/nobility/downloader/core/scraper/WcoStreamScraper.kt
jdks

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/log/
/exported-movies.txt
