<?xml version="1.0" encoding="UTF-8"?>
<included>

    <property name="app_name" value="M3U8Catcher"/>
    <property name="LOG_FILE_NAME" value="M3U8Catcher"/>
    <property name="ABSOLUTE_LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-./log}/${app_name}/${LOG_FILE_NAME}-out.log}"/>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%clr(%d [%-5p] [%thread] %c{36}:%L - %m%n)</pattern>
        </encoder>
        <file>${ABSOLUTE_LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${ABSOLUTE_LOG_FILE}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <MaxFileSize>500MB</MaxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d [%-5p] [%thread] %c{36}:%L - %m%n)</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </root>
</included>
